In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

In [76]:
data_df = pd.read_csv('./Data/sam.funny.csv')

In [77]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 51 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   post_id                        300 non-null    int64
 1   text                           300 non-null    object
 2   post_text                      300 non-null    object
 3   shared_text                    0 non-null      float64
 4   original_text                  0 non-null      float64
 5   time                           300 non-null    object
 6   timestamp                      300 non-null    int64
 7   image                          298 non-null    object
 8   image_lowquality               300 non-null    object
 9   images                         300 non-null    object
 10  images_description             300 non-null    object
 11  images_lowquality              300 non-null    object
 12  images_lowquality_description  300 non-null    object
 13  video                          0 non-null      float64
 14  video_duration_seconds         0 non-null      float64
 15  video_height                   0 non-null      float64
 16  video_id                       0 non-null      float64
 17  video_quality                  0 non-null      float64
 18  video_size_MB                  0 non-null      float64
 19  video_thumbnail                0 non-null      float64
 20  video_watches                  0 non-null      float64
 21  video_width                    0 non-null      float64
 22  likes                          108 non-null    float64
 23  comments                       300 non-null    int64
 24  shares                         300 non-null    int64
 25  post_url                       300 non-null    object
 26  link                           0 non-null      float64
 27  links                          300 non-null    object
 28  user_id                        300 non-null    int64
 29  username                       300 non-null    object
 30  user_url                       300 non-null    object
 31  is_live                        300 non-null    bool
 32  factcheck                      0 non-null      float64
 33  shared_post_id                 0 non-null      float64
 34  shared_time                    0 non-null      float64
 35  shared_user_id                 0 non-null      float64
 36  shared_username                0 non-null      float64
 37  shared_post_url                0 non-null      float64
 38  available                      300 non-null    bool
 39  comments_full                  300 non-null    object
 40  reactors                       192 non-null    object
 41  w3_fb_url                      192 non-null    object
 42  reactions                      192 non-null    object
 43  reaction_count                 300 non-null    int64
 44  with                           0 non-null      float64
 45  page_id                        300 non-null    int64
 46  sharers                        0 non-null      float64
 47  image_id                       293 non-null    float64
 48  image_ids                      300 non-null    object
 49  was_live                       300 non-null    bool
 50  fetched_time                   192 non-null    object
dtypes: bool(3), float64(22), int64(7), object(19)
memory usage: 113.5+ KB

## Lo·∫°i b·ªè c√°c c·ªôt c√≥ gi√° tr·ªã b·ªã miss v√† b·ªè m·ªôt s·ªë c·ªôt kh√¥ng s·ª≠ d·ª•ng

In [78]:
df = data_df
df = df.dropna(axis='columns',thresh=100)
df.drop(df.columns[5:12], axis=1, inplace=True)
df.drop(df.columns[7:10], axis=1, inplace=True)
df.drop(df.columns[8:11], axis=1, inplace=True)
df.drop(df.columns[10], axis=1, inplace=True)
df.drop(df.columns[12:], axis=1, inplace=True)
df = df.dropna()
df = df.reset_index()

C:\Users\DEll\AppData\Local\Temp\ipykernel_18468\2924466452.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.columns[5:12], axis=1, inplace=True)
C:\Users\DEll\AppData\Local\Temp\ipykernel_18468\2924466452.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.columns[7:10], axis=1, inplace=True)
C:\Users\DEll\AppData\Local\Temp\ipykernel_18468\2924466452.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.columns[8:11], axis=1, inplace=True)
C:\Users\DEll\AppData\Local\Temp\ipykernel_18468\2924466452.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.columns[10], axis=1, inplace=True)
C:\Users\DEll\AppData\Local\Temp\ipykernel_18468\2924466452.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.columns[12:], axis=1, inplace=True)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           192 non-null    int64
 1   post_id         192 non-null    int64
 2   text            192 non-null    object
 3   post_text       192 non-null    object
 4   time            192 non-null    object
 5   timestamp       192 non-null    int64
 6   comments        192 non-null    int64
 7   shares          192 non-null    int64
 8   username        192 non-null    object
 9   comments_full   192 non-null    object
 10  reactors        192 non-null    object
 11  reactions       192 non-null    object
 12  reaction_count  192 non-null    int64
dtypes: int64(6), object(7)
memory usage: 19.6+ KB

## Th√™m m·ªôt s·ªë c·ªôt c·∫ßn s·ª≠ d·ª•ng

### X·ª≠ l√Ω c·ªôt reactions

In [80]:
reaction = []
for i in range(0, 192):
   first_row = df.iloc[i]
   r = dict(eval(first_row['reactions']))
   reaction.append(r)
   
reactions = pd.DataFrame(reaction)
reactions = reactions.fillna(0)

df['th√≠ch'] = reactions['th√≠ch']
df['y√™u th√≠ch'] = reactions['y√™u th√≠ch']
df['haha'] = reactions['haha']
df['wow'] = reactions['wow']
df['th∆∞∆°ng th∆∞∆°ng'] = reactions['th∆∞∆°ng th∆∞∆°ng']
df['bu·ªìn'] = reactions['bu·ªìn']
df['ph·∫´n n·ªô'] = reactions['ph·∫´n n·ªô']
reactions

     th√≠ch  y√™u th√≠ch   haha  wow  th∆∞∆°ng th∆∞∆°ng  bu·ªìn  ph·∫´n n·ªô
0     8675        101  15693   21             39    59      1.0
1     6739         55   9396   15             15    37      1.0
2     1964         16   2510    7              6     9      0.0
3     1879         26   1970    5              4     1      0.0
4     5000         44   6808   12             12    14      0.0
..     ...        ...    ...  ...            ...   ...      ...
187   6427       2214    136    6            108     2      0.0
188   4433        119   4833   10             31    17      0.0
189   3381        402   1031    9             31     4      0.0
190   2487         58    815   17              6    14      0.0
191   5950        735     22   17             99  1778      0.0

[192 rows x 7 columns]

### X·ª≠ l√≠ c·ªôt time

In [81]:
def day_of_week(date_time):
	dow = datetime.strptime(date_time, "%Y-%m-%d %H:%M:%S")
	return dow.strftime("%A")

In [82]:
to_time = lambda t:t.split(' ')[1]
to_date = lambda t:t.split(' ')[0]
to_hour = lambda t:t.split(':')[0]
to_day = lambda t:t.split('-')[2]
to_month = lambda t:t.split('-')[1]
to_year = lambda t:t.split('-')[0]
df["hour_minute_second"] = df['time'].apply(to_time)
df["hour"] = df["hour_minute_second"].apply(to_hour)
df["d-m-y"] = df['time'].apply(to_date)
df["day"] = df['d-m-y'].apply(to_day)
df["month"] = df['d-m-y'].apply(to_month)
df["year"] = df['d-m-y'].apply(to_year)
df['day_of_week'] = [day_of_week(x) for x in df['time']]

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   index               192 non-null    int64
 1   post_id             192 non-null    int64
 2   text                192 non-null    object
 3   post_text           192 non-null    object
 4   time                192 non-null    object
 5   timestamp           192 non-null    int64
 6   comments            192 non-null    int64
 7   shares              192 non-null    int64
 8   username            192 non-null    object
 9   comments_full       192 non-null    object
 10  reactors            192 non-null    object
 11  reactions           192 non-null    object
 12  reaction_count      192 non-null    int64
 13  th√≠ch               192 non-null    int64
 14  y√™u th√≠ch           192 non-null    int64
 15  haha                192 non-null    int64
 16  wow                 192 non-null    int64
 17  th∆∞∆°ng th∆∞∆°ng       192 non-null    int64
 18  bu·ªìn                192 non-null    int64
 19  ph·∫´n n·ªô             192 non-null    float64
 20  hour_minute_second  192 non-null    object
 21  hour                192 non-null    object
 22  d-m-y               192 non-null    object
 23  day                 192 non-null    object
 24  month               192 non-null    object
 25  year                192 non-null    object
 26  day_of_week         192 non-null    object
dtypes: float64(1), int64(12), object(14)
memory usage: 40.6+ KB

In [84]:
df.head()

,index,post_id,text,post_text,time,timestamp,comments,shares,username,comments_full,...,th∆∞∆°ng th∆∞∆°ng,bu·ªìn,ph·∫´n n·ªô,hour_minute_second,hour,d-m-y,day,month,year,day_of_week
0,0,729776215852592,Sea Lion King.\n\n#C√°M·ª•p #S∆∞T·ª≠Bi·ªÉn #LionKing #...,Sea Lion King.\n\n#C√°M·ª•p #S∆∞T·ª≠Bi·ªÉn #LionKing #...,2023-11-22 20:58:03,1700661483,454,194,Gia ƒë√¨nh Ng·ªô,"[{'comment_id': '733265815331693', 'comment_ur...",...,39,59,1.0,20:58:03,20,2023-11-22,22,11,2023,Wednesday
1,1,729258765904337,ƒê·ªë bi·∫øt t·∫°i sao lu√¥n.\n\n#C√°M·ª•p #Tr√†ChanhGi√£Ta...,ƒê·ªë bi·∫øt t·∫°i sao lu√¥n.\n\n#C√°M·ª•p #Tr√†ChanhGi√£Ta...,2023-11-21 21:30:44,1700577044,378,44,Gia ƒë√¨nh Ng·ªô,"[{'comment_id': '1114583793258489', 'comment_u...",...,15,37,1.0,21:30:44,21,2023-11-21,21,11,2023,Tuesday
2,2,728707862626094,Th√¨ ra l√† nh∆∞ v·∫°i.\n\n#Th√°nhTƒÉng #InuYasha #Fa...,Th√¨ ra l√† nh∆∞ v·∫°i.\n\n#Th√°nhTƒÉng #InuYasha #Fa...,2023-11-20 20:42:08,1700487728,104,15,Gia ƒë√¨nh Ng·ªô,"[{'comment_id': '3230542493905111', 'comment_u...",...,6,9,0.0,20:42:08,20,2023-11-20,20,11,2023,Monday
3,3,728445909318956,20/11 m√† c√≥ 2 ƒë·ª©a ƒë·ªá t·ª≠ m√°t gu·ªôt gh√™ üòÜ\n\n#Len...,20/11 m√† c√≥ 2 ƒë·ª©a ƒë·ªá t·ª≠ m√°t gu·ªôt gh√™ üòÜ\n\n#Len...,2023-11-20 10:13:33,1700450013,66,34,Gia ƒë√¨nh Ng·ªô,"[{'comment_id': '652742957040839', 'comment_ur...",...,4,1,0.0,10:13:33,10,2023-11-20,20,11,2023,Monday
4,4,727480986082115,"ƒê·ªìn g√¨ k√¨ v·∫≠y ch·ªùi, c√≥ ti·∫øng m√† h·ªèng c√≥ mi·∫øng ...","ƒê·ªìn g√¨ k√¨ v·∫≠y ch·ªùi, c√≥ ti·∫øng m√† h·ªèng c√≥ mi·∫øng ...",2023-11-18 19:30:19,1700310619,170,34,Gia ƒë√¨nh Ng·ªô,"[{'comment_id': '830446935489886', 'comment_ur...",...,12,14,0.0,19:30:19,19,2023-11-18,18,11,2023,Saturday

In [85]:
path = "Data/sam.funny_cleaning.xlsx"
df.to_excel(path, index=False)
print(path)
path1 = "Data/sam.funny_cleaning.csv"
df.to_csv(path1, index=False)
print(path)

Data/sam.funny_cleaning.xlsx
Data/sam.funny_cleaning.xlsx